$steelblue: rgb(59, 145, 194);

.wrapper {
  width: 60%;
  margin: 0 20% 2rem;
  padding: 0 1rem;

  hr {
    margin: 0 0 1rem;
    width: 50px;
    height: 5px;
    background-color: black;
    border: none;
  }

  .lorem-paragraph {
    text-align: justify;
    margin-top: 2rem;
    padding-bottom: 700px;
  }

  .justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: auto;
    margin: 0;
  }
}
