$lightgrey: rgb(215, 215, 215);
$steelblue: rgb(59, 145, 194);

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 2.5rem 0;

  .paragraph {
    margin-right: 1rem;
    width: 70%;
  }

  .form {
    margin: 0 1rem;

    h4 {
      margin: 0 0 0.4rem;
    }

    input, label {
      display: block;
    }

    input {
      border: 2px solid $lightgrey;
      margin-bottom: 1rem;
      padding: 5px;

      &:focus {
        border: 2px solid black;
        outline: none;
      }
    }

    textarea {
      border: 2px solid $lightgrey;
      width: 175px;
      height: 120px;
      resize: none;

      &:focus {
        border: 2px solid black;
        outline: none;
      }
    }

    button {
      display: block;
      background-color: white;
      border: 2px solid $steelblue;
      color: $steelblue;
      padding: 0.5rem 1.5rem;
      margin: 1rem 0;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    display: block;
    width: 100%;
    margin: 0 0 2.5rem 0;

    .paragraph {
      width: 100%;
    }

    .form {
      margin: 0;

      input, textarea {
        width: 97%;
      }

      button {
        width: 100%;
      }
    }
  }
}
