.offers-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  width: 50%

}

.photo-text {
  position: relative;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    position: absolute;
    bottom: 0;
    background: rgba(215, 215, 215, 0.6);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    letter-spacing: -1px;
    padding: 0;

    span {
      padding: 1rem;
    }
  }
}


@media (max-width: 768px) {
  .offers-photos {
    width: 100%;
    margin: 1rem 0;
  }

  .photo-text {
    img {
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 19.92px;
    }
  }
}
