$lightblue: rgb(68, 139, 203);
$steelblue: rgb(59, 145, 194);

.welcome {
  position: relative;
  float: left;
  padding: 0 1.5rem;
  width: 26%;
  height: 100%;
  color: white;
  background-color: $lightblue;


  h1 {
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  hr {
    margin: 1rem 0;
    width: 50px;
    height: 4px;
    background-color: white;
  }

  p {
    font-size: 1rem;
    padding-bottom: 5rem;
  }

  button {
    position: absolute;
    bottom: 24px;
    background-color: $steelblue;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1.5rem;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

@media (max-width: 1340px) {
  .welcome {
    width: auto;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1770px) {
  .welcome {
    width: 28%;
  }
}
